<div class="container">
    <div class="row">


        <div class="title_topics">TOPIC</div>


        <div class="row">

            <div class="update">
                <%= @topic.updated_at.strftime("%Y-%m-%d %H:%M") %>
            </div>


            <div class="image">
                <%= attachment_image_tag @topics, :image, format: 'jpeg', size: "400x300",  fallback: "no_image.jpg" %>
            </div>


            <div class="title ">
                <%= @topics.title %>
            </div>


            <div class="text ">
                <%= @topics.body %>
            </div>

        </div>


        <div class="row">
            <div class="page">

                <% if @topics.previous.present? %>
                    <%= link_to "PREV", topic_path(@topics.previous) %>
                <% end %>


                <%= link_to "LIST", topics_path %>


                <% if @topics.next.present? %>
                    <%= link_to "NEXT",topic_path(@topics.next) %>
                <% end %>

            </div>
        </div>


    </div>
</div>